enrich/src/main/mule/enrich.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8cd8f234-b9f9-485b-a856-dfcd48f2db31" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="f67979ac-857b-408c-9a3e-562956feb426" file="dev.yaml" />
	<flow name="enrichFlow" doc:id="fdd474a5-6b51-4d11-bdc4-40e9aaed3d17" >
		<http:listener doc:name="Listener" doc:id="cceb364f-b143-4240-b19c-120536df4824" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="f7d7d320-a008-4ad9-b13e-92129435e284" variableName="vOrgpayload"/>
		<http:request method="GET" doc:name="Request" doc:id="37e701ed-13bd-4606-9b31-36c8adb6bb1a" url="https://worldtimeapi.org/api/timezone/{region}/{city}">
			<http:uri-params ><![CDATA[#[{
	region:payload.region default "Asia",
	city:payload.city default "kolkata.txt"
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="ef748d86-c3c3-4aee-9943-91f18e561c3b" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="0129364a-c4d3-437a-9b87-0d3a392ff449" message="#[vars.vOrgpayload]"/>
	</flow>
</mule>
