consume/src/main/mule/consume.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="51893f4b-5d4d-4930-a120-dc9cfe733c79" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="1f7c92ba-ba30-4e2e-98ab-c4885a57419e" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<configuration-properties doc:name="Configuration properties" doc:id="a529b1c9-f585-4ac6-a832-822563bad3b2" file="dev.yaml" />
	<flow name="consumeFlow" doc:id="222c6dfc-2a88-4192-9fdb-c1407e0d03e7" >
		<http:listener doc:name="Listener" doc:id="a78b3269-71d1-42e8-8360-be7a8cf6bde3" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="09bdc455-cadd-4dd4-89b8-1bc9a6aef8f8" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="287144c6-a647-43d5-a66b-f5cf57b90921" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="dab47e70-8c24-4a18-81b4-d626fc28510a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.number1 as Number,
		ns0#intB: vars.number2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:id="90492503-3947-4d9a-bbe2-a04281f0c26a" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="142fb885-f213-49f7-bfac-fadaf910d935" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
